/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.search {
  text-align: center;
  background-color: grey;
  padding-top: 50px;
  padding-bottom: 20px;
}

.search-inner {
  color: #fff;
}

.col {
  display: inline-block;
  padding-right: 10px;
}

div.page-display {
  position: absolute;
}

.nextpage {
  position: relative;
}

.select {
  cursor: pointer;
}