<div ng-controller="LandingController" ng-init="userId()">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
      <a href="/#!/shelf"><span class="navbar-brand message">Hi {{ user.username }}</span></a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Bookstore</a>
    </div>
      <div id="navbar" class="navbar-collapse collapse">
        <button type="submit" ng-click="signout()" class="btn nav-btn btn-primary">Log Out</button>
        <a href="/#!/shelf"><button class="btn btn-sm btn-primary">View Profile</button></a>
    </div>
  </nav>
  </div>
  <div class="jumbotron">
      <div class="container">
        <h1>Bookstore</h1>
        <p>Search. Save. Add to Cart. Review. Share. Welcome to Bookstore! </p>
        <p></p>
      </div>
      <div class="container">
        <form ng-submit="fetchBooks(search, index)">
          <input type="text" name="search" ng-model="search">
          <button class="btn btn-success">Search</button>
        </form>
      </div>
  </div>
  <div ng-show="alert" class="savedBook navbar-fixed-bottom alert alert-success alert-dismissable fade in" role="alert">
  <a ng-click="alert = ''" class="close" aria-label="close">&times;</a>
    <strong>Success! </strong>{{ alert }}
  </div>
  <!-- show books that are purchasable only-->
  <div ng-show="book.saleInfo.retailPrice" class="row search" ng-repeat="book in books track by $index">
    <div class="col-md-4 search-inner">
    <img class="select" ng-click="saveBook(book)" ng-src="{{ book.volumeInfo.imageLinks.thumbnail }}">
    </div>
    <div class="col-md-4 search-inner">
      <h2>{{ book.volumeInfo.title }}</h2>
      <h3>Authors: <h4 ng-repeat="author in book.volumeInfo.authors">{{ author }}</h4></h3>
      <h6>{{ book.searchInfo.textSnippet }}</h6>
    </div>
    <div class="col-md-4 search-inner">
      <h4>${{ book.saleInfo.retailPrice.amount }}</h4>
      <h5 ng-show="book.volumeInfo.publishedDate">{{ book.volumeInfo.publishedDate }}</h5>
      <h5 ng-show="!book.volumeInfo.publishedDate">Date not available</h5>
    </div>
  </div>
    <center>
      <button ng-show="index > 0" ng-click="fetchBooks(savedSearch, index)" class="btn btn-success">View More...</button>
    </center>
  <!-- show if no books are found -->
  <div class="row search" ng-show="books.length === 0 || books === undefined">
    <div class="col-md-4 search-inner">
    </div>
    <div class="col-md-4 search-inner">
      <h3>No books found...</h3>
    </div>
    <div class="col-md-4 search-inner">
    </div>
  </div>

</div>