<div ng-controller="LandingController">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <span class="navbar-brand message">Hi, {{ user.username }}</span>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Book Save</a>
    </div>
      <div id="navbar" class="navbar-collapse collapse">
        <a href="/#!/shelf"><button class="btn btn-link navbar-brand">Shelf</button></a>
        <button type="submit" ng-click="signout()" class="btn btn-link navbar-brand">Log Out</button>
    </div>
  </nav>
  </div>
  <div class="jumbotron">
      <div class="container">
        <h1>Book Save</h1>
        <p>Search. Save. Add to Cart. Review. Share. Welcome to Book Save! </p>
        <p></p>
      </div>
      <div class="container">
        <form ng-submit="fetchBooks(search, index, maxResult, orderBy)">
          <input type="text" name="search" ng-model="search">
          <select ng-model="maxResult" name="maxResult" required>
            <option disabled selected value>max results</option>
            <option>10</option>
            <option>20</option>
            <option>30</option>
            <option>40</option>
          </select>
          <select ng-model="orderBy" name="orderBy" required>
            <option disabled selected value>order by</option>
            <option>relevance</option>
            <option>newest</option>
          </select>
          <button class="glyphicon glyphicon-search"></button>
        </form>
      </div>
  </div>
  <div ng-show="alert" class="savedBook navbar-fixed-bottom alert alert-success alert-dismissable fade in" role="alert">
  <a ng-click="alert = ''" class="close" aria-label="close">&times;</a>
    <strong>Success! </strong>{{ alert }}
  </div>
  <!-- show books that are purchasable only-->
  <div ng-show="book.saleInfo.retailPrice" class="row search" ng-repeat="book in books track by $index">
    <div class="col-md-4 search-inner">
    <img class="select" ng-src="{{ book.volumeInfo.imageLinks.thumbnail }}">
    <button class="save glyphicon glyphicon-heart" ng-click="saveBook(book)"></button>
    </div>
    <div class="col-md-4 search-inner">
      <h2>{{ book.volumeInfo.title }}</h2>
      <h3>Authors: <h4 ng-repeat="author in book.volumeInfo.authors">{{ author }}</h4></h3>
      <h6>{{ book.searchInfo.textSnippet }}</h6>
    </div>
    <div class="col-md-4 search-inner">
      <h4>${{ book.saleInfo.retailPrice.amount }}</h4>
      <h5 ng-show="book.volumeInfo.publishedDate">{{ book.volumeInfo.publishedDate }}</h5>
      <h5 ng-show="!book.volumeInfo.publishedDate">Date not available</h5>
    </div>
  </div>
    <center>
      <button ng-show="index > 0" ng-click="fetchBooks(savedSearch, index)" class="btn btn-link">View More...</button>
    </center>
  <!-- show if no books are found -->
  <div class="row search" ng-show="books.length === 0 || books === undefined">
    <div class="col-md-4 search-inner">
    </div>
    <div class="col-md-4 search-inner">
      <h3>No books found try searching...</h3>
    </div>
    <div class="col-md-4 search-inner">
    </div>
  </div>

  <div class="navbar navbar-footer">
    <center>
      <h4>2017 Book Save | <a class="footer btn btn-link" ng-href="">Search</a><a class="footer btn btn-link" ng-href="/#!/shelf">Shelf</a></h4>
    </center>
  </div>
</div>

