<div ng-controller="SignUpController">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Book Save</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <form name="form" ng-submit="signup(username, password)" class="navbar-form navbar-right">
          <div class="form-group">
            <input type="text" placeholder="Username" class="form-control"
            name="username"
            ng-model="username"
            required>
          </div>
          <div class="form-group">
            <input type="password" placeholder="Password" class="form-control"
            name="password"
            ng-model="password"
            required>
          </div>
            <button type="submit" ng-click="signup(username, password)" ng-disabled="form.$invalid" class="btn btn-link">Sign Up</button>
            <a href="/#!/signin">Have an account?</a>
        </form>
      </div><!--/.navbar-collapse -->
    </div>
  </nav>
</div>

<div ng-controller="AccountController">
  <div class="jumbotron">
      <div class="container">
        <h1>Book Save</h1>
        <p>Search. Save. Add to Cart. Review. Share. Welcome to Book Save! </p>
        <div class="row">
          <div class="col-md-4">
            <p class="tut glyphicon glyphicon-check"></p><br/>
            <span class="tut">Sign in or register an account</span>
          </div>
          <div class="col-md-4">
          <p class="tut glyphicon glyphicon-search"></p><br/>
          <span class="tut">Search by book title and</span><br/>
          <span class="tut">save to your personal shelf</span>
          </div>
          <div class="col-md-4">
          <p class="tut glyphicon glyphicon-shopping-cart"></p><br/>
          <span class="tut">View your shelf and add saved books</span><br/>
          <span class="tut">to your shopping cart for secure checkout!</span>
          </div>
        </div>
      </div>
  </div>
</div>