<div ng-controller="LandingController" ng-init="userId()">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <span class="navbar-brand message">Hi {{ user.username }}</span>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/#!/landing">Book Save</a>
    </div>
      <div id="navbar" class="navbar-collapse collapse">
        <a href="/#!/landing"><button class="btn btn-link">Search</button></a>
        <a href="/#!/shelf"><button class="btn btn-link">Shelf</button></a>
        <button type="submit" ng-click="signout()" class="btn btn-link">Log Out</button>
        <a onclick="scroll(0,0)"><button type="button" class="shop btn btn-link" data-toggle="collapse" data-target="#cart" aria-expanded="false" aria-controls="cart">Cart</button></a>
    </div>
  </div>
</nav>
<div ng-controller="ShelfController">
  <div id="cart" class="collapse"> <a ng-click="closeCart()" class="close closeIcon" aria-label="close">&times;</a>
    <h4 class="cart-display">Shopping Cart</h4>
    <div class="row window">
      <ul ng-repeat="book in cart track by $index">
        <li>{{ book.title }} <span class="cartTotal">x{{ book.dupl }}</span></li>
      </ul></div>
      <div class="row cart-display">
        <h5>Total items: {{ items }}</h5>
        <h5>Total price: ${{ roundedPrice }}</h5>
      </div>
      <button data-toggle="modal" data-target="#myModal" ng-show="cart.length > 0" ng-hide="!checkout" class="btn btn-success cart-display" ng-click="fakeBuy()">
      Checkout
      </button>
      </div>
      <div ng-show="alert" class="savedBook navbar-fixed-bottom alert alert-success alert-dismissable fade in" role="alert">
        <a ng-click="alert = ''" class="close" aria-label="close">&times;</a>
        <strong>Success! </strong>{{ alert }}
      </div>
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Payment</h4>
            </div>
            <div class="modal-body">
            <form stripe-form="stripeCallback" name="credit">
            <div class="form-group">
              <input class="form-control" payments-format="card"  name="name" ng-model="name" placeholder="John Smith">
              <input class="form-control" payments-format="card"  name="address_line1" ng-model="address_line1" payments-format="address_line1" placeholder="123 Apple St">
              <input class="form-control" payments-format="card"  name="address_city" ng-model="address_city" payments-format="address_city" placeholder="Los Angeles">
              <input class="form-control" payments-format="card"  name="address_state" ng-model="address_state" payments-format="address_state" placeholder="California">
              <input class="form-control" payments-format="card"  name="address_zip" ng-model="address_zip" payments-format="address_zip" placeholder="90030">
              <input class="form-control" payments-format="card"  name="address_country" ng-model="address_country" payments-format="address_country" placeholder="United States">
            </div>
            <div class="form-group">
                <h6>Valid card number for demo: 4242 4242 4242 4242</h6>
                <h6>Expiration for demo: (month)/(year)17 or higher</h6>
                <h6>CVC for demo: any 3 or 4 digit numbers</h6>
                <input class="form-control" ng-model="number" placeholder="Card Number"
                         payments-format="card" payments-validate="card" name="card" required />
                <input class="form-control" ng-model="expiry" placeholder="Expiration"
                         payments-format="expiry" payments-validate="expiry"
                         name="expiry" required/>
                <input class="form-control" ng-model="cvc" placeholder="CVC" payments-format="cvc" payments-validate="cvc" name="cvc" required/>
                <div class="modal-footer">
                  <button class="btn btn-success" type="submit">Submit</button>
                </div>
            </div>
            </form>
            </div>
          </div>
        </div>
    </div>



      <!-- stripe form-->
  <div class="container shelf" ng-init="getShelf()">
    <h2>Shelf</h2>
    <div class="row">
      <div class="shelfImage col-md-2" ng-repeat="collection in collections track by $index">
        <div class="item">
          <a class="select" href="#!/details/{{collection._id}}"><img class="book" ng-src="{{ collection.smallThumbnail }}"></a>
          <button ng-click="addToCart($event, $index, collection)" class="cart glyphicon glyphicon-shopping-cart" alt="add to cart"></button>
          <button ng-click="removeBook(collection)" class="delete glyphicon glyphicon-remove" alt="remove from shelf"></button>
          <h6>${{ collection.price }}</h6>
        </div>
      </div>
    </div>
    <div class="navbar navbar-footer">
    <center>
      <h4>2017 Book Save | <a class="footer btn btn-link" ng-href="">Search</a><a class="footer btn btn-link" ng-href="/#!/shelf">Shelf</a></h4>
    </center>
  </div>
    </div>
    <div ng-show="alert" class="savedBook navbar-fixed-bottom alert alert-success alert-dismissable fade in" role="alert">
    <a href="/#!/landing" class="close" aria-label="close">&times;</a>
      <strong>Success! </strong>{{ alert }}
    </div>
  </div>
</div>